<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.dao.${className}Dao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="${package}.entity.${className}Entity" id="${classname}Map">
#foreach($column in $columns)
        <result property="${column.attrname}" column="${column.columnName}"/>
#end
    </resultMap>

    <sql id="Base_Column_List">

		#foreach($column in $columns)
			$column.columnName#if($velocityCount != $columns.size()), #end
		#end
    </sql>

	<select id="selectObjectById" resultType="${package}.entity.${className}Entity">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			${tableName}
		WHERE ${pk.columnName} = #{value}
	</select>

	<select id="selectList" resultMap="${classname}Map">
		SELECT
			<include refid="Base_Column_List" />
		FROM ${tableName}
        <where>
            1 = 1
			#foreach($column in $columns)
                <if test="${column.attrname} != null and ${column.attrname}.trim() != '')">
                    and ${column.columnName} = #{${column.attrname}}
                </if>
			#end
        </where>
	</select>
	
 	<select id="queryTotal" resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM ${tableName}
        <where>
            1 = 1
			#foreach($column in $columns)
                <if test="${column.attrname} != null and ${column.attrname}.trim() != '')">
                    and ${column.columnName} = #{${column.attrname}}
                </if>
			#end
        </where>
	</select>

	<delete id="deleteById">
		DELETE FROM ${tableName} WHERE id = #{id}
	</delete>

	<delete id="delete">
		DELETE FROM ${tableName}
        <where>
			#foreach($column in $columns)
                <trim  suffixOverrides="AND">
					<if test="${column.attrname} != null and ${column.attrname}.trim() != '')">
						${column.columnName} = #{${column.attrname}} AND
					</if>
                </trim>
			#end
        </where>
	</delete>

    <delete id="deleteBatchByIds">
        DELETE FROM ${tableName} WHERE ${pk.columnName} IN
        <foreach item="${pk.attrname}" collection="array" open="(" separator="," close=")">
            #{${pk.attrname}}
        </foreach>
    </delete>


    <insert id="insert" parameterType="${package}.entity.${className}Entity" #if($pk.extra == 'auto_increment') useGeneratedKeys="true" keyProperty="$pk.attrname"#end>
		INSERT INTO ${tableName}
		(
#foreach($column in $columns)
#if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
			`$column.columnName`#if($velocityCount != $columns.size()), #end

#end			
#end
		)
		values
		(
#foreach($column in $columns)
#if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
			#{$column.attrname}#if($velocityCount != $columns.size()), #end

#end			
#end
		)
	</insert>

	//TODO
	<update id="update" parameterType="${package}.entity.${className}Entity">
		update ${tableName} 
		<set>
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
			<if test="$column.attrname != null">`$column.columnName` = #{$column.attrname}#if($velocityCount != $columns.size()), #end</if>
#end
#end
		</set>
		where ${pk.columnName} = #{${pk.attrname}}
	</update>
	

</mapper>