package ${package}.dao;

import cn.hetaoo.doong.common.dao.BaseDao;
import ${package}.entity.${className}Entity;
import ${package}.entity.${className}QueryEntity;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao extends BaseDao<${className}Entity, ${className}QueryEntity> {
	
}
