package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;

import ${package}.dao.${className}Dao;
import ${package}.entity.${className}Entity;
import ${package}.entity.${className}QueryEntity;
import ${package}.service.${className}Service;



@Service("${classname}Service")
public class ${className}ServiceImpl implements ${className}Service {
	@Autowired
	private ${className}Dao ${classname}Dao;
	
	@Override
	public ${className}Entity queryObject(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.selectObjectById(${pk.attrname});
	}
	
	@Override
	public List<${className}Entity> queryList(${className}QueryEntity queryEntity){
		return ${classname}Dao.selectList(queryEntity);
	}
	
	@Override
	public Integer queryTotal(${className}QueryEntity queryEntity){
		return ${classname}Dao.selectTotal(queryEntity);
	}
	
	@Override
	public Integer save(${className}Entity ${classname}){
		return ${classname}Dao.insert(${classname});
	}
	
	@Override
	public Integer update(${className}Entity ${classname}){
		return ${classname}Dao.update(${classname});
	}
	
	@Override
	public Integer deleteById(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.deleteById(${pk.attrname});
	}
	
	@Override
	public Integer deleteBatch(List<${pk.attrType}> ${pk.attrname}s){
		return ${classname}Dao.deleteBatchByIds(${pk.attrname}s.toArray());
	}
	
}
