package ${package}.service;

import ${package}.entity.${className}Entity;
import ${package}.entity.${className}QueryEntity;

import java.util.List;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {
	
	${className}Entity queryObject(${pk.attrType} ${pk.attrname});
	
	List<${className}Entity> queryList(${className}QueryEntity queryEntity);

    Integer queryTotal(${className}QueryEntity queryEntity);
	
	Integer save(${className}Entity ${classname});

    Integer update(${className}Entity ${classname});

    Integer deleteById(${pk.attrType} ${pk.attrname});

    Integer deleteBatch(List<${pk.attrType}> ${pk.attrname}s);
}
