package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;

import ${package}.dao.${className}Dao;
import ${package}.entity.${className}Entity;
import ${package}.service.${className}Service;



@Service("${classname}Service")
public class ${className}ServiceImpl implements ${className}Service {
	@Autowired
	private ${className}Dao ${classname}Dao;
	
	@Override
	public ${className}Entity queryObject(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.queryObject(${pk.attrname});
	}
	
	@Override
	public List<${className}Entity> queryList(${className}QueryEntity queryEntity){
		return ${classname}Dao.queryList(queryEntity);
	}
	
	@Override
	public Integer queryTotal(${className}QueryEntity queryEntity){
		return ${classname}Dao.queryTotal(queryEntity);
	}
	
	@Override
	public Integer save(${className}Entity ${classname}){
		${classname}Dao.save(${classname});
	}
	
	@Override
	public Integer update(${className}Entity ${classname}){
		${classname}Dao.update(${classname});
	}
	
	@Override
	public Integer delete(${pk.attrType} ${pk.attrname}){
		${classname}Dao.delete(${pk.attrname});
	}
	
	@Override
	public Integer deleteBatch(${pk.attrType}[] ${pk.attrname}s){
		${classname}Dao.deleteBatch(${pk.attrname}s);
	}
	
}
